/* editButton.css */

.EditButton {
  width: 100%;
  padding: 7px;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  margin: 2px;
}

.EditButton:hover {
  background-color: #00b327;
}
